<!-- <nav class="navbar">
    <div class="container-fluid">
        <div class="container">
            <a class="navbar-brand" href="">
                <img src="https://img.favpng.com/9/23/19/movie-logo-png-favpng-nRr1DmYq3SNYSLN8571CHQTEG.jpg"
                    alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> -->
                
                <!-- <span class="text-warning fs-1 fw-bolder">C!ne</span> <span class="flicks fs-1 fw-bolder">Fl!cks</span> 
            </a>
            <div class="header-buttons">
                <button class="log-btn"> Button
                </button>
            </div>
        </div>
        
    </div>
</nav> --> 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="">
            <span class="text-warning fs-1 fw-bolder">Cine</span> <span
                    class="text-light flicks fs-1 fw-bolder">Flicks</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-3"><button class="nav-link" routerLink="/login">Login</button></li>
                <li class="nav-item"><button class="nav-link " routerLink="/register">Sign Up </button></li>
            </ul>
        </div>
    </div>
</nav>




