<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <img src="https://media.giphy.com/avatars/404academy/kGwR3uDrUKPI.gif" alt="" width="100%">
            <div class="btn-div">
                <button routerLink="/movies">
                    <span class="box">
                        <i class="fa-solid fa-arrow-left fw-bolder"></i>&nbsp;&nbsp;Back to Home
                    </span>
                </button>
            </div>
            
        </div>
        <div class="col-3">
            
        </div>
    </div>
</div>
