<app-header></app-header>
<div class="home-first container-fluid">
    <div class="row welcome-note">
        <div class="welcome-text col-xs-12 col-lg-6">
        </div>

    </div>
</div>

<div class="gif-div container-fluid pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <img src="https://i.gifer.com/8V9H.gif" alt="" width="100%" class="mt-4">
            </div>
            <div class="desc-div col-xs-12 col-lg-6 d-flex justify-content-center align-items-center">
                <p class="description">At CineFlicks, we are passionate about cinema and dedicated to providing you with
                    insightful
                    and comprehensive reviews of the latest releases and timeless classics. Whether you're a die-hard
                    film buff or simply looking for recommendations, our platform is designed to enhance your
                    movie-watching experience.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="quote-div col-xs-12 p-4  ms-1 me-1 mb-3 d-flex justify-content-center border-warning">
                <h1  id="quote">"Empowering your movie choices - Find your perfect flick with our
                    users opinions!"</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

</div>





<app-footer></app-footer>